<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Survey Form Result</title>
</head>
<body>
	<h2>Submitted Information</h2>
	<p>
		Name: <%= sessionName %>
	</p>
	<p>
		Dojo Location: <%= sessionLocation %>
	</p>
	<p>
		Favorite Language: <%= sessionLanguage %>
	</p>
	<p>
		Comment: <%= sessionComment %>
	</p>
	<button><a href="/">Go Back</a></button>
</body>
</html>